<header class="nav-header">
    <div class="navbar">
        <label class="logo">Lab<span id="mate">Mate</span></label>

        <ul class="nav-links">
            <li><a href="/student-home" id="nav-home" title="Home Page">Home</a></li>
            <li><a href="/student-laboratories" id="nav-lab" title="View Laboratories">Laboratories</a></li>
            <li><a href="/student-reservations" id="nav-reserve" title="Check Reservations">Reservations</a></li>
        </ul>

        <div class="nav-profile">
            <a href="/profile-account">
                <img id="profile-img" src="{{#if user.image}}{{user.image}}{{else}}/img/default-profile.png{{/if}}" title="View Profile" alt="Profile Image">
            </a>
        </div>
    </div>
</header>

<script>
    // Add underline on current page
    document.addEventListener("DOMContentLoaded", function() {
        const page = window.location.pathname.split("/").pop() || "index.html";
        const pageWithoutExt = page.replace(".html", "");

        // Add active class to the current page in the navigation bar
        switch (pageWithoutExt) {
            case 'student-home':
                document.getElementById("nav-home")?.classList.add("active");
                break;
            case 'student-reservations':
                document.getElementById("nav-reserve")?.classList.add("active");
                break;
            case 'student-laboratories':
                document.getElementById("nav-lab")?.classList.add("active");
                break;
            default:
                break;
        }
    });
</script> 