<!DOCTYPE html>
<header class="nav-header">
    <div class="navbar">
        <label class="logo">Lab<span id="mate">Mate</span></label>

        <ul class="nav-links">
            <li><a href="student-home.html" id="nav-home" title="Home Page">Home</a></li>
            <li><a href="student-laboratories.html" id="nav-lab" title="View Laboratories">Laboratories</a></li>
            <li><a href="see-reservations.html" id="nav-reserve" title="Check Reservations">Reservations</a></li>
        </ul>

        <div class="nav-profile">
            <a href="profile_accountOverview"><img src="img/default-profile.png" title="View Profile" alt="Profile Image"></a>
        </div>
    </div>
</header>

<style>
    .navbar img {
        width: 40px;
        border-radius: 50%;
    }
    
    .navbar img:hover {
        scale: 1.05;
        box-shadow: 0 4px rgba(0, 0, 0, 0.2);
    }
</style>
