<!DOCTYPE html>
<header class="nav-header">
    <div class="navbar">
        <label class="logo">Lab<span id="mate">Mate</span></label>

        <ul class="nav-links">
            <li><a href="student-home.html" id="nav-home" title="Home Page">Home</a></li>
            <li><a href="student-laboratories.html" id="nav-lab" title="View Laboratories">Laboratories</a></li>
            <li><a href="see-reservations.html" id="nav-reserve" title="Check Reservations">Reservations</a></li>
        </ul>

        <div class="nav-profile">
            <a href="#"><img src="img/default-profile.png" title="View Profile" alt="Profile Image"></a>
        </div>
    </div>
</header>
