<!DOCTYPE html>
<header class="nav-header" id="index-header">
    <div class="navbar">

        <label class="logo">Lab<span id="mate">Mate</span></label>

        <ul class="nav-links">
            <li><a href="index.html" id="nav-home" title="Home Page">Home</a></li>
            <li><a href="signedout-laboratories.html" id="nav-lab" title="View Laboratories">Laboratories</a></li>
        </ul>

        <div class="nav-btns">
            <button onclick="window.location.href='signup-page.html'" class="round secondary action-btn">Sign Up</button>
            <button onclick="window.location.href='signin-page.html'" class="round primary action-btn">Sign In</button>
        </div>
    </div>
</header>

<style>
    .navbar .nav-btns button {
        margin-left: 20px;
    }
</style>