<!DOCTYPE html>
<html>
    <head>
        <title>Nav</title>
        <link rel="stylesheet" href="css/navbar-style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />    </head>
    <body>
        <!-- ADD HTML PAGES TO APPROPRIATE href="#" FIELDS -->
        <header>
            <div class="navbar">
                <div class="logo">
                    <label id="labmate-logo">Lab<span style="color:#1d3853;">Mate</span></label>
                </div>

                <!-- ADD id="active" TO ACTIVE WEB PAGE -->
                <ul class="nav-links">
                    <li><a href="index.html" id="nav-home" title="Home Page">Home</a></li>
                    <li><a href="#" id="nav-lab" title="View Laboratories">Laboratories</a></li>
                </ul>

                <div class="nav-btns">
                    <a href="signup-page.html" id="signup-btn" class="action-btn">Sign Up</a>
                    <a href="signin-page.html" id="signin-btn" class="action-btn">Sign In</a>
                </div>
            </div>

        </header>

        
    </body>
</html>
