/* minor reference: https://www.youtube.com/watch?v=GdrbE-s5DgQ */

* {
    margin: 0;
    padding: 0;
}

.navbar {
    color: var(--green);
    font-family: var(--secondary-font-family);
}

.navbar label.logo {
    color: var(--off-white);
    font-weight: 700;
    font-size: 32px;
}

.navbar label.logo #mate {
    color: var(--dark-blue);
}

.navbar #labmate-logo:hover {
    cursor: pointer;
}

.nav-header {
    width: 100%;
    box-sizing: border-box;
    padding: 0 2rem;
    background: var(--green);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#index-header {
    background: none;
    box-shadow: none;
}

.navbar {
    width: 100%;
    height: 70px;
    max-width: 1920px;
    min-width: 600px;

    margin: 0 auto;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: var(--off-white);
    font-weight: 500;
    font-size: 1.2rem;
    margin-left: 25px;
    margin-right: 25px;
}

.navbar a:hover {
    color: var(--dark-blue)
}


.navbar #labmate-logo {
    color: var(--off-white);
    font-weight: 700;
    font-size: 32px;
}

.navbar .nav-links {
    display: flex;
    gap: 2rem;
}

.navbar .active {
    border-bottom-width: 3px;
    border-bottom-color: var(--off-white);
    border-bottom-style: solid;
    padding-bottom: 5px;
}


.navbar .nav-links a:hover {
    border-bottom-width: 3px;
    border-bottom-color: var(--dark-blue);
    border-bottom-style: solid;
    padding-bottom: 5px;
    transition: border-bottom-width 0.1s ease;
}

.navbar .action-btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar #signin-btn {
    background-color: var(--green);
    color: var(--off-white)
}

.navbar #signup-btn {
    background-color: var(--off-white);
    color: var(--green);
}

.navbar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.navbar img:hover {
    scale: 1.05;
    box-shadow: 0 4px rgba(0, 0, 0, 0.2);
}

/* make navbar responsive */
@media (max-width: 900px) {
    .navbar a {
        margin-right: 0;
        margin-left: 0;
    }
}