<!DOCTYPE html>
<!-- ADD HTML PAGES TO APPROPRIATE href="#" FIELDS -->
<header class="nav-header">
    <div class="navbar">
        <div class="logo">
            <label id="labmate-logo">Lab<span style="color:#1d3853;">Mate</span></label>
        </div>

        <!-- ADD id="active" TO ACTIVE WEB PAGE -->
        <ul class="nav-links">
            <li><a href="/labtech-home" id="nav-home" title="Home Page">Home</a></li>
            <li><a href="/labtech-laboratories" id="nav-lab" title="View Laboratories">Laboratories</a></li>
            <li><a href="/labtech-reservations" id="nav-reserve" title="Check Reservations">Reservations</a></li>
        </ul>

        <div class="nav-profile">
            <a href="/labtech-profile-account"><img src="/img/default-profile.png" id="profile-img" title="View Profile" alt="Profile Image"></a>
        </div>
    </div>
</header>